<div class="container">
  <img style="width: 1100px;" src="http://compass.xbox.com/assets/de/72/de72784f-2c80-4313-90b8-afc6f96f73bf.jpg?n=GwG_Blade-Members-Free_1571x647_03.jpg">
</div>

<hr />

<div class="clearfix guardian-list-activity">
<div class="guardian-activity">
<h4 class="font_8"><span style="font-family:comic sans ms,comic-sans-w01-regular,comic-sans-w02-regular,comic-sans-w10-regular,cursive;">Web Application Final Project</span></h4>
<h4 class="font_8"><span style="font-family:comic sans ms,comic-sans-w01-regular,comic-sans-w02-regular,comic-sans-w10-regular,cursive;">Created by: Xiaodong Hu</span></h4>
</div>
</div>