<div class="row">
  <button style="left: 350px; width: 484px; position: absolute; top: 180px;" class="btn btn-info btn-md col-md-4 col-lg-4 col-sm-4" routerLink="/myprofile">My Profile</button>
  <button style="left: 880px; width: 384px; position: absolute; top: 180px;" class="btn btn-info btn-md col-md-4 col-lg-4 col-sm-4" routerLink="/games">Games</button>
</div>

<div class="container hp">
 
<div class="row panel panel-default">
<div class="panel-heading col-md-12 col-lg-12 col-sm-12">
 
<h3 class="mobile-guardian-header">Games</h3>
 
<div class="container">
  <table class="table" style="width: 1100px;">
    <thead>
      <tr>
        <th>Image</th>
        <th>Game</th>
        <th>Platform</th>
        <th>Characters</th>
        <th>Number of members</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <img src="https://upload.wikimedia.org/wikipedia/en/b/be/Destiny_box_art.png" style="width: 50px;">
        <td>Destiny</td>
        <td>PS3, PS4, Xbox, XB1</td>
        <td>Hunter, Warlock, Titan</td>
        <td>3</td>
        <td>Some Description1</td>
      </tr>      
      <tr class="success">
        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Left4Dead2.jpg" style="width: 50px;">
        <td>Diablo 3</td>
        <td>PS3, PS4, Xbox, XB1</td>
        <td>Barbarian,  Crusader, Demon Hunter,  Monk, Witch Doctor, Wizard</td>
        <td>2</td>
        <td>Some Description2</td>
      </tr>
      <tr>
        <img src="https://www.gamewallpapers.com/img_script/mobile_dir2/img.php?src=wallpaper_diablo_3_18_ipad.jpg&height=755&width=850&crop-to-fit" style="width: 50px;">
        <td>Left 4 Dead 2</td>
        <td>PC, XBox</td>
        <td>Coach, Rochelle, Nick, Ellis</td>
        <td>1</td>
        <td>Some Description3</td>
      </tr>
      <tr class="success">
        <img src="http://i1.2pcdn.com/node14/image/game/20150807000716a0e61z82u0p2913j.jpg" style="width: 50px;">
        <td>World of Warcraft</td>
        <td>PC</td>
        <td>Warrior, Paladin, Hunter, Rogue, Priest, Death Knight, Shaman, Mage, Warlock, Monk, Druid, Demon Hunter</td>
        <td>6</td>
        <td>Some Description4</td>
      </tr>
    </tbody>
  </table>
</div>

<hr />

 
</div>
</div>
 
</div>