<div class="row">
  <button style="left: 350px; width: 484px; position: absolute; top: 180px;" class="btn btn-info btn-md col-md-4 col-lg-4 col-sm-4" routerLink="/myprofile">My Profile</button>
  <button style="left: 880px; width: 384px; position: absolute; top: 180px;" class="btn btn-info btn-md col-md-4 col-lg-4 col-sm-4" routerLink="/game">Games</button>
</div>

<div class="container hp">
 
<div class="row panel panel-default">
<div class="panel-heading col-md-12 col-lg-12 col-sm-12">
 
<div class="clearfix">
<button id="listMe" class="pull-left btn btn-success btn-md col-md-9 col-lg-9 col-sm-9" data-toggle="modal" data-target="#listMeModal" routerLink="/user">List All Posts</button>
<button id="updateMe" class="pull-right btn btn-warning btn-md" data-toggle="modal" data-target="#listMeModal" >Save Changes</button>
</div>
 
<h3 class="mobile-guardian-header">My Profile</h3>
 
<div class="container">

<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Profile Picture</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Display Name</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Age</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Gender</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Player Id</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Regular Play Times</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Use of a Microphone</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Play Style</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>
<div class="form-group">
  <label for="example-text-input" class="col-2 col-form-label">Preferred Character</label>
  <div style="width: 1100px;">
    <input class="form-control" type="text" id="example-text-input">
  </div>
</div>


</div>

<hr />

 
</div>
</div>
 
</div>