<div class="container hp">
 
<div class="row panel panel-default">
<div class="panel-heading col-md-12 col-lg-12 col-sm-12">
 
<h3 class="mobile-guardian-header">LFG Page: Recent Posts</h3>
 
<div class="container">
  <table class="table" style="width: 1100px;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Game</th>
        <th>Platform</th>
        <th>Type of Team</th>
        <th>Match or Event</th>
        <th>Start Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rifting</td>
        <td>Destiny</td>
        <td>Xbox</td>
        <td>Silver</td>
        <td>ranking</td>
        <td>4/16/2017</td>
        <td>Been playing solo on torment1/torment 2. Would like some company I guess</td>
      </tr>      
      <tr class="success">
        <td>Rifting</td>
        <td>World of Warcraft</td>
        <td>PS4</td>
        <td>Bronze</td>
        <td>ranking</td>
        <td>4/15/2017</td>
        <td>Looking for teamates</td>
      </tr>
      <tr class="danger">
        <td>Rifting</td>
        <td>Diablo 3</td>
        <td>Xbox</td>
        <td>Silver</td>
        <td>ranking</td>
        <td>4/15/2017</td>
        <td>Been playing solo on torment1/torment 2.</td>
      </tr>
      <tr class="info">
        <td>Rifting</td>
        <td>Destiny</td>
        <td>Xbox</td>
        <td>Silver</td>
        <td>ranking</td>
        <td>4/14/2017</td>
        <td>Finding a teammate...</td>
      </tr>
      <tr class="warning">
        <td>Rifting</td>
        <td>Dead 4</td>
        <td>Xbox</td>
        <td>Bronze</td>
        <td>ranking</td>
        <td>4/14/2017</td>
        <td>Looking for real fight</td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
<div class="clearfix guardian-list-activity">
<div class="guardian-activity">
<span class="guardian-language">English (en)</span>
<span class="time-stamp">2 days ago</span>
</div>
</div>
</div>
</div>
 
</div>

