<div class="container hp">
 
<div class="row panel panel-default">
<div class="panel-heading col-md-12 col-lg-12 col-sm-12">
 
<h3 class="mobile-guardian-header">LFG Page: All Posts</h3>
 
<div class="container">
  <table class="table" style="width: 1100px;">
    <thead>
      <tr>
        <th>Game</th>
        <th>Platform</th>
        <th>Type of Team</th>
        <th>Match or Event</th>
        <th>Start Time</th>
        <th>Description</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>      
      <tr class="success">
        <td>Success</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
      <tr class="info">
        <td>Info</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
      <tr class="warning">
        <td>Warning</td>
        <td>Refs</td>
        <td>bo@example.com</td>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
<div class="clearfix guardian-list-activity">
<div class="guardian-activity">
<span class="guardian-language">English (en)</span>
<span class="time-stamp">10 days ago</span>
</div>
</div>
</div>
</div>
 
</div>

